html,body {
  height: 100%;
  width: auto;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(rgba(51, 102, 153, 0.7), rgba(0, 153, 153, 0.7)), url("img/city.jpg") no-repeat center; 
  background-size: cover;
  color: #fff;
}

div {
  margin: 0px;
  padding: 0px;
  padding-top: 25%;
}

a {
  font-family: PingFangSC-UltraLight, PingFangSC;
  font-weight: 200;
  font-size: 14px;
  background: #00bcd4;
  border: 1px solid #00bcd4;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  padding: 5px 22px;
  margin: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

img {
  width: 25%;
  height: auto;
}

.material-icons {
  font-size: 14px;
}

span {
  color: rgba(255, 255, 255, 0.4);
}
